@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password?";
}
<div class="row d-flex justify-content-center col-12">
    <div class="col-lg-4 col-md-8 col-12">
        <form method="post">
            <div class="container-fluid text-center mt-4 mb-2">
                <a class="navbar-brand" asp-area="" asp-controller="Calculator" asp-action="Index">
                    <img src="~/logoBig.png" />
                </a>
            </div>
            <h2 class="text-center mb-4">@ViewData["Title"]</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}